extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen Sobre Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in nisl risus. Nam ut nisl dolor. Donec rutrum metus eu elit blandit dignissim. Morbi lobortis lectus ut ultrices luctus. Nulla facilisi. Phasellus sed aliquam sem. Ut rutrum mauris a justo ornare dignissim. Etiam vehicula dui bibendum, mollis ipsum eget, mattis quam. Donec id posuere tortor. Nulla in tincidunt eros. Phasellus scelerisque dui in cursus mattis.

                p Nulla quis consectetur purus, id auctor leo. Curabitur fermentum nisl at enim semper, id euismod sem auctor. Morbi eget est elementum, porttitor ligula ut, ullamcorper leo. Duis nec ullamcorper urna. Integer id porttitor diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque nec neque placerat, porta lacus eget, mattis nunc. Pellentesque accumsan nulla sed mauris rutrum, in pellentesque sem bibendum. Aenean venenatis interdum ex, a molestie lectus scelerisque quis. Aenean eu velit ullamcorper, finibus nisl quis, eleifend tellus. Donec sollicitudin condimentum lacus a porttitor. Cras tincidunt porttitor pellentesque. Sed lobortis, elit et tincidunt porttitor, nisl est maximus felis, et maximus est neque mollis nibh. Vivamus iaculis consequat dolor ut placerat. Praesent mi mi, vestibulum sit amet sem eget, viverra varius arcu.
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p conubia nostra, per inceptos himenaeos. Pellentesque nec neque placerat, porta lacus eget, mattis nunc. Pellentesque accumsan nulla sed mauris rutrum, in pellentesque sem bibendum. Aenean venenatis interdum ex, a molestie lectus scelerisque quis. Aenean eu velit ullamcorper
                .col-md-4
                    img(src="img/icono_Destinos.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p conubia nostra, per inceptos himenaeos. Pellentesque nec neque placerat, porta lacus eget, mattis nunc. Pellentesque accumsan nulla sed mauris rutrum, in pellentesque sem bibendum. Aenean venenatis interdum ex, a molestie lectus scelerisque quis. Aenean eu velit ullamcorper
                .col-md-4
                    img(src="img/icono_Precios.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p conubia nostra, per inceptos himenaeos. Pellentesque nec neque placerat, porta lacus eget, mattis nunc. Pellentesque accumsan nulla sed mauris rutrum, in pellentesque sem bibendum. Aenean venenatis interdum ex, a molestie lectus scelerisque quis. Aenean eu velit ullamcorper